* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #3498db;
}

.forky {
  position: absolute;
  top: 50%;
  left: 50%;
}

.face {
  width: 300px;
  height: 300px;
  background: #f0f0f0;
  border-radius: 65% 30% 65% 28%;
  position: absolute;
  top: -135px;
  left: -147px;
  transform: rotate(-42deg);
}

.face-mask {
  width: 300px;
  height: 60px;
  background: #3498db;
  position: absolute;
  top: -162px;
  left: -147px;
}

.fork1,
.fork4 {
  width: 185px;
  height: 170px;
  background: #f0f0f0;
  border-radius: 100% 0% 97% 3% / 91% 0% 99% 3%;
  position: absolute;
  top: -118px;
  left: -147px;
  transform: rotate(-42deg);
}

.fork2,
.fork3 {
  width: 76px;
  height: 73px;
  background: #f0f0f0;
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
  position: absolute;
  top: -151px;
  left: -48px;
  transform: rotate(-43deg);
}

.fork3 {
  left: -14px;
}

.fork4 {
  left: -40px;
}

.eye1,
.eye2 {
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -63px;
  left: -103px;
  box-shadow: 1px 1px 3px #888787;
}

.pupil1,
.pupil2 {
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 21px;
  left: 3px;
  box-shadow: 1px 1px 3px #888787;
}

.eye2 {
  left: 27px;
  width: 60px;
  height: 60px;
  top: -34px;
}
.pupil2 {
  left: 100px;
  width: 60px;
  height: 60px;
}
